#adminmenu li.current a.menu-top {
	background: #A551DE;
}
#wpcontent{
	padding: 0;
}
#wpbody-content {
	background-color: #BC7CE8;
}
.wrap{
	padding: 10px;
    margin: 0;
    background-color: #A551DE;
}
h1.title{
	color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.83);
}
.translate_table{
	background-color: #fff;
}
.translate_table thead th{
	background-color: #5F079A;
	color:#BC7CE8;
}
.translate_table .row_bg{
	background-color: #E3CCF3;
}
.edit_butt {
	text-align: center;
}
a {
	color: #f3f3f3;
}
.add_changed,.add_row{
	text-align: center;
	margin-left: 4px;
	padding: 4px 8px;
	position: relative;
	top: 1px;
	text-decoration: none;
	border: 1px solid rgba(95, 7, 154, 0.3);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: rgb(183, 83, 251);
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
	display: inline-block;
	width: 47%;
	position: relative;
	margin: 10px auto;
}
.add_changed:hover,.add_row:hover {
	border-color: #A551DE;
	background: #5F079A;
	color: #fff;
}
/*
.forms_layout {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	display: none;
}*/
input[type=submit]{
	background-color: #A551DE;
	color: #fff;
}